@charset "utf-8";

body {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro","メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
		/*font-style: italic;*/
	line-height: 1.9;
	color: #222;
	background-color: #FFF;
	}
	a:link {
	color: #555;
	text-decoration: none;
	}
	a:visited {
	color: #555;
	text-decoration: none;
}
a:hover {
	color: #030;
	text-decoration: none;
}
a:active {
	color: #030;
	text-decoration: none;
}
#wrapper {
	width: 1000px;
	margin: 0 auto;
}
#header {
	width: 1000px;
	height: 181px;
}
#header h1 {
	float: left;
	margin-top: 33px;
	margin-bottom: 37px;
	margin-left: 73px;
}
#header ul {
	float: right;
	margin-top: 80px;
	margin-right: 52px;
}
#header ul li {
	float: left;
	padding-right: 20px;
}

/*index.htmlのメインビジュアルの設定。悩みどころ、ID名を変えるべきか。*/
#main-visual {
	clear: both;
	width: 1000px;
	/*height: 480px;*/
}

#wrap {
	width: 873px;
	margin: 50px 64px 0 63px;
	overflow: hidden;
	/*何のためのoverflow:hiddenか*/
}

#footer {
	clear:both;
	overflow: hidden;
	padding: 20px 0 10px 0;
}

#footer ul {
    width: 800px;
    margin: 30px 100px
}

#footer .footer-nav li {
    float: left;
    padding-right: 30px;
    font-size: 115%;
}

#footer .footer-nav li a {
	color: #fff;
}
#footer p {
	clear: both;
	/*何のためのdisplay:block;*/
	display: block;
	width: 500px;
	margin: 0 auto;
	padding-top: 40px;
	color: #ddd
}

.main {
	width: 870px;
	margin: 50px 64px 0 63px;
	overflow: hidden;
	/*何のためのoverflow:hiddenか*/
}

.contact {
	clear: both;
	text-align: center;
	font-size: 150%;
	font-weight: 800;
	padding-top: 50px;;
	margin-bottom: 50px;
}

.midashi-under_line {
	width: 860px;
	border-bottom: 3px solid;
	margin:0 auto 30px auto;
	font-size: 200%;
}

.color_res {
    background-color: #008C8C;
}

.color_nagare {
    background-color: #004020;
}

.color_prof {
    background-color: #004030;
}

.color_system {
    background-color: #004C66;
}

.color_features {
    background-color: #000040;
}

.color_tpm {
    background-color: #104000;
}

.color_index {
    background-color: #00468C;
}

/*profile.html------------------------------------------------------------------------------------------------------------------------------------------------------*/


.text {
    width: 520px;
    margin: 30px 30px 20px 40px;
    float: left;
}

.jikosyoukai .midashi-under_line , .career .midashi-under_line , .foryou .midashi-under_line {
    color: #004030;
    clear:both;
}

.name {
    font-size: 130%;
}

.jikosyoukai .img {
    width: 280px;
    padding-top: 100px;
    float: right;
}

.career .img {
    width: 280px;
    float: right;
}


/*7res.html------------------------------------------------------------------------------------------------------------------------------------------------------*/


.res_topics {
    font-size: 170%;
}

.clear {
    clear: both;
}

.text_left {
    width: 520px;
    margin: 30px 30px 0px 20px;
    float: left;
}

.img_right {
    width: 270px;
    margin-top: 30px;
    float: right;
}
    
.text_right {
    width: 520px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 30px;
    float: right;
}

.img_left {
    width: 270px;
    margin-left: 20px;
    margin-top: 30px;
    float: left;
}

/*system.html------------------------------------------------------------------------------------------------------------------------------------------------------*/

.three_system {
    text-align: center;
} 

.three-points .midashi-under_line , .keishiki .midashi-under_line , .parts-top .midashi-under_line , .youketsu-top .midashi-under_line {
    color: #004C66;
    clear:both;
}
   
/*timeplacemoney.html------------------------------------------------------------------------------------------------------------------------------------------------------*/

.time .midashi-under_line , .place .midashi-under_line , .money .midashi-under_line  {
    color: #104000;
    clear: both;
}

.time , .place , .money {
    margin: ;-bottom: 50px;
}

/*link.html------------------------------------------------------------------------------------------------------------------------------------------------------*/

#link_btn li {
	width: 250px;
	height: 190px;
	margin-left: 40px;
	margin-bottom: 55px;
	float: left;
	font-size: 170%;
	font-style: italic;
}

/*index.html------------------------------------------------------------------------------------------------------------------------------------------------------*/

.ind_topics {
    font-size: 200%;
}

.ind_text {
    font-size: 120%;
}

.ind_text a {
    font-size: 120%;
}

#datsuryoku-joutatsu .midashi-under_line , #datsuryoku-kenkou .midashi-under_line , #ochitsuku-karada .midashi-under_line , #menu .midashi-under_line {
    width: 860px;
	border-bottom: 3px solid;
	margin:0 auto 30px auto;
	font-size: 200%;
	color: #00468C;
	border-bottom-color: #00468C;
}
	
.to_top , .system_top {
    font-size: 140%;
    }

.mews {
    font-size: 200%;
}


